RewriteEngine On

RewriteRule gallery/(.+)\.html external_gallery\.php?key=$1
RewriteRule gallery/(.+)\.htm  external_gallery\.php?key=$1
RewriteRule gallery/(.+)       external_gallery\.php?key=$1

RewriteRule image/(.+)\.png external_image\.php?key=$1&t=0
RewriteRule image/(.+)\.jpg external_image\.php?key=$1&t=0
RewriteRule image/(.+)      external_image\.php?key=$1&t=0

RewriteRule thumb/(.+)\.png external_image\.php?key=$1&t=1
RewriteRule thumb/(.+)\.jpg external_image\.php?key=$1&t=1
RewriteRule thumb/(.+)      external_image\.php?key=$1&t=1
